.fixed {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    text-align: center;
    padding: 20px 0;
}

.fixed-top {
    padding: 0;
    height: 10vh;


}

.header-deaktop-options {
    margin-left: 13vw;
    display: flex;
    align-items: center;
    justify-content: baseline;
    height: max-content;
}

.buttonDetails {
    width: 15vw;
    height: 50px;
    font-family: 'Archivo Black', sans-serif;
    font-size: 1 vw;
    word-spacing: 1px;
    color: #fff;
    font-weight: bolder;
    padding-right: 1vw;
    position: relative;
    background: rgb(0, 59, 8);
    background: black;
    border-bottom: 2px solid #1eff00;
    border-top: 2px solid #1eff00;
    margin-bottom: 0;
    margin: 0;

}

.buttonDetails:hover {

    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;

}

.buttonDetails.active {
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
    background: rgb(0, 189, 26);
    background: linear-gradient(180deg, rgb(34, 77, 31) 0%, rgb(35, 223, 21) 37%, rgb(35, 209, 23) 58%, rgb(34, 77, 31)100%);
    color: BLACK;

}

.buttonDetails p {
    margin-bottom: 0;

}

.details-1 {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
}

.details-2 {
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
}

.header-content {
    width: 100vw;
    display: flex;

    justify-content: space-between;
    align-items: start;


}

.color-nav {
    background: rgb(0, 0, 0, 0);
}

.gif-icon {
    height: 10vh;
    display: flex;
    margin-left: 10%;
    border: none;
    background-color: rgb(0, 0, 0, 0);

}

.gif-icon:hover {
    border: none;
    background-color: rgb(0, 0, 0, 0);

}

.gif-icon:focus {
    border: none;
    background-color: rgb(0, 0, 0, 0);

}


.button-style {
    background-color: transparent;
    border-radius: 20%;
    border-width: 1px;
    border-color: white;
    padding: 7px;
}

.purple {
    color: #7030a0;

}

.color {
    background-color: rgb(211, 211, 211);
}


.textcard {
    margin-left: 20px;
}


.text-size {
    font-size: 12px;
}

.align-center {
    display: flex;

}

.size {
    width: 250px;
}

.card-size {
    width: 250px;
}




@media (min-width: 769px) {
    .gifImage {
        height: 100px;
    }

    .creditos {
        margin-left: 0.8vw;
        display: block;
        cursor: pointer;
    }

    #mainnav {
        margin-right: 4vw;
        width: 9vw;
        display: block;
    }

    #mainnav ul {
        list-style: none;
        padding: 0;
    }

    #mainnav>ul>li {
        display: inline-block;
        padding: 0 6px;
    }

    #mainnav ul li {
        position: relative;
    }

    .header #mainnav>ul>li>a {
        line-height: 100px;
    }

    #mainnav>ul>li.home>a {

        color: aliceblue;
        background-color: black;
        border: none;
        border-radius: 0px;
        padding: 10px;
    }

    #mainnav>ul>li>a {
        margin-bottom: 2vh;
        position: relative;
        display: block;
        font-family: "Poppins", sans-serif;
        text-transform: uppercase;
        color: #222;
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    #mainnav ul.submenuteste {
        position: absolute;
        text-align: center;
        left: 0;
        width: 8vw;
        text-align: left;
        z-index: 9999;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .submenuteste p {
        text-align: center;
        margin: 1vh 0 1vh 0 !important;

    }

    #mainnav ul.submenuteste li:first-child {
        border-top: none;
    }

    #mainnav ul.submenuteste>li {
        border-top: 1px solid #333333;
    }

    #mainnav ul li ul li {
        margin-left: 0;
    }

    #mainnav ul.submenuteste>li>a {
        display: block;
        color: #fff;
        text-decoration: none;
        padding: 0 0 0 20px;
        line-height: 45px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    #mainnav ul li:hover>ul.submenuteste {
        top: 100%;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        opacity: 1;
        visibility: visible;
    }


    .home {}

    .submenuteste {
        display: grid;
        justify-content: center;
        align-items: center;
        text-align: center;

    }

    .submenuteste svg {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 36px;
        height: 33px;
    }

    .submenuteste p {
        color: black;
    }

    .cube {
        transition: all 0.4s;
        transform-style: preserve-3d;
        height: 20px;
    }

    .button-icon:hover {
        border-color: #ff98a2;
    }

    .button-icon:hover .cube {
        transform: rotateX(90deg);
    }

    .side {
        position: absolute;
        height: 47px;
        width: 8vw;
        display: flex;
        font-size: 0.8em;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        font-weight: bold;
    }

    .top {
        background: hsl(219, 100%, 28%);
        color: #fff;
        transform: rotateX(-90deg) translate3d(0, 13.5px, 2em);
    }

    .front {
        border: 3px solid #c300ff;
        background: #222229;
        color: #fff;
        transform: translate3d(0, 0, 1em);
    }


}


@media (max-width: 768px) {
    .fixed {

        display: none;
    }

}