
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@media (min-width: 100px) {
  .aviso {
    display: none !important;
  }

  #map {
    height: 100%;
  }

  @keyframes bg-animation {

    0%,
    100% {
      filter: grayscale(70%) brightness(70%) sepia(50%) hue-rotate(-100deg) saturate(500%) contrast(1);
    }

    50% {
      filter: none;
    }
  }

  .fundo {
    opacity: 0.7;
    animation: bg-animation 10s infinite;
    background-image: url('./img/sunset2.png');
    background-size: cover;
    position: absolute;
    z-index: -2;
    width: 100vw;
    height: 100vh;
  }
  .fundo2 {
    background-image: url('./img/sun1.png');
    background-size: cover;
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
  }

  .page-default {

    min-height: 484px;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    margin-top: 100px;
  }

  .apresentation {
    min-height: 265px;
    margin-top: -40vh;
    height: 50vh;
    width: 50vw;
  }

  .apresentation-text {
    min-height: 477px;
    position: absolute;
    display: grid;
    justify-content: baseline;
    align-items: end;
    margin-top: -91vh;
    width: max-content;
    z-index: -1;
    position: absolute;
    font-size: 90px;
    font-family: 'Archivo Black', sans-serif;
    text-shadow: -1px -1px 8px rgb(102, 255, 0);

  }


  .description {
    height: 90vh;
    width: 60vw;
    display: flex;
    justify-content: start;
    align-items: center;

  }

  .cube_intro{
    
    
  }
  .text-who {
    height: 200px;
    margin: 0;
    
  }
  .text-am {
    height: 200px;
    margin: -50px 0 0 0;
  }
  .text-ii {
    height: 200px;
    margin: -50px 0 50px 0;
  }
  
  .images-intro {
    height: 90vh;
    width: 30vw;
    min-width: 470px;
    padding-right: 100px;
    display: flex;
    text-align: end;
    align-items: end;
    padding-top: 8vh;

    
  }
  .images-intro p{
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    font-size: 15vh;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black; 
    -webkit-text-fill-color: transparent;
    background: rgb(255,205,0);
    background: linear-gradient(60deg, rgba(255,205,0,1) 16%, rgba(255,102,0,1) 45%, rgba(255,192,0,1) 79%);
    -webkit-background-clip: text;
  }
@media  (max-width: 900px) {
.images-intro {
  padding: 0!important;
  display: grid;
  height: 40vh;
  width: 100vw;
  min-width: 0!important;
  text-align: start;
  justify-content: baseline;
  align-items: start;
  margin-top: -40vh;

  
}
.description{
  display: none;
}



}
  body {
    background-color: #000000;
    color: white;
  }

  .descriptionContent {
    white-space: pre-wrap;
    font-family: 'Archivo Black', sans-serif;
    width: 100%;
    color: #ffffff;
    
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0); 
    -webkit-text-fill-color: white;
    text-align: start;
    height: 50vh;
    letter-spacing: 1px;
    font-size: 1.7vw;
  }
  .descriptionTitle {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(0, 0, 0); 
    -webkit-text-fill-color: white;
    white-space: pre-wrap;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    font-size: 9vh;
    width: 100%;
    color: #ffffff;
    text-align: start;
    margin: 0;
  }

  .description .card-intro {
    margin-top: 70px;
    min-height: 423px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(0, 0, 0, 0.7);
    border: 2px solid rgb(255, 94, 0);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    width: 52vw;
    padding: 2vw;
    height: 80vh;
    transition: 1s ease-in-out;
    clip-path: polygon(100% 20%, 100% 80%, 80% 100%, 0 100%, 0 0, 80% 0);

    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .description .card-intro span {
    font-weight: bold;
    color: white;
    text-align: center;
    display: block;
    font-size: 1em;
  }

  .description .card-intro .info {
    font-weight: 400;
    color: white;
    display: block;
    text-align: center;
    font-size: 0.72em;
    margin: 1em;
  }

  .description .card-intro .img {
    width: 4.8em;
    height: 4.8em;
    background: white;
    border-radius: 15px;
    margin: auto;
  }

  .description .card-intro .share {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    gap: 1em;
  }

  .description .card-intro a {
    color: white;
    transition: .4s ease-in-out;
  }

  .description .card-intro a:hover {
    color: red;
  }

  .description .card-intro button {
    padding: 0.8em 1.7em;
    display: block;
    margin: auto;
    border-radius: 25px;
    border: none;
    font-weight: bold;
    background: #ffffff;
    color: rgb(0, 0, 0);
    transition: .4s ease-in-out;
  }

  .description .card-intro button:hover {
    background: red;
    color: white;
    cursor: pointer;
  }

  .loader-background {
    display: flex;
    width: 100vw;
    height: 100vh;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.8);
    z-index: 9999999999;


  }


  .loader-background p {
    font-family: "Cormorant Garamond", serif;
    font-size: 3vh;
    font-weight: 100;
    text-transform: uppercase;
    font-weight: bolder;
    color: white;
    margin-top: -20vh;

  }

  .loader {
    width: 60vw;
    height: 1.5vh;

    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
  }


  .loader::before {
    content: "";
    position: absolute;
    background-color: #0092ca;
    width: 0%;
    height: 100%;
    border-radius: 10px;
    animation: load 1.5s ease-in-out infinite;
    box-shadow: #0092ca 0px 2px 29px 0px;
  }






}

@media (max-width: 100px) {
  .page-default {
    display: none;
  }

  .aviso {

    display: flex !important;
    justify-content: center;
    align-items: start;
    text-align: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

  }

  .card-intro-mobile-advice {
    position: absolute;
    background-color: rgb(0, 0, 0);
    border: 2px solid white;
    border-radius: 20px;
    margin-top: 12vh;
    width: 80vw;
    height: max-content;
  }

  .card-intro-mobile-advice p {
    padding: 7px;
    font-family: 'Archivo Black', sans-serif;
    font-size: 2.5vh;
    background: black;
    background: linear-gradient(121deg, rgba(255, 255, 255, 1) 0%, rgba(168, 168, 168, 1) 46%, rgba(255, 255, 255, 1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: -1px -1px 8px rgba(255, 255, 255, 0.3);

  }

  .loader-black {
    margin-top: 40vh;
    margin-left: 90vw;
    display: flex;
    width: 18rem;
    height: 18rem;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 3;
    flex-direction: column;
  }

  .curve {
    width: 100%;
    height: 100%;
    position: absolute;
    animation: rotate 8s linear infinite;
    fill: transparent;
  }

  .curve text {
    letter-spacing: 20px;
    text-transform: uppercase;
    font: 1.5em "Fira Sans", sans-serif;
    fill: white;
    filter: drop-shadow(0 2px 8px black);
  }

  .blackhole {
    z-index: -1;
    display: flex;
    position: absolute;
    width: 12.3rem;
    height: 12.3rem;
    align-items: center;
    justify-content: center;

  }

  .blackhole-circle {

    position: absolute;
    z-index: 10 !important;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: radial-gradient(circle at center, black 25%, white 35%, white 100%);
    box-shadow: 0px 0px 1rem #ff7b00;
    align-items: center;
    justify-content: center;
  }

  .blackhole-circle::after {
    z-index: 0;
    position: absolute;
    content: "";
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 4px solid white;
    background: radial-gradient(circle at center, black 35%, white 60%, white 100%);
    box-shadow: 0px 0px 5rem #c2babb;
    align-items: center;
    justify-content: center;
    filter: blur(4px);
    animation: pulseAnimation linear infinite 2s alternate-reverse;
  }

  .blackhole-circle::before {
    background-color: rgb(0, 0, 0);
    z-index: 2;
    content: "";
    display: flex;
    width: 7rem;
    height: 7rem;
    box-shadow: 3px 3px 10px #c2babb;
    border-radius: 50%;
    top: 5rem;
    filter: blur(0.5px);
    animation: rotate linear infinite 3s;
  }

  .blackhole-disc {
    position: absolute;
    z-index: 9;
    display: flex;
    width: 12rem;
    height: 30rem;
    border-radius: 60%;
    background: radial-gradient(circle at center, #ffffff 80%, #353535 90%, white 100%);
    filter: blur(1rem) brightness(130%);
    border: 1rem solid white;
    box-shadow: 0px 0px 3rem #d7c4be;
    transform: rotate3d(1, 1, 1, 220deg);
    animation: pulseAnimation2 linear infinite 2s alternate-reverse;
    justify-content: center;
    align-items: center;
  }

  .blackhole-disc::before {
    content: "";
    position: absolute;
    z-index: 0;
    display: flex;
    width: 5rem;
    height: 10rem;
    border-radius: 50%;
    background: radial-gradient(circle at center, #ffffff 80%, #353535 90%, white 100%);
    filter: blur(3rem);
    border: 1rem solid white;
    box-shadow: 0px 0px 6rem #d7c4be;
    animation: pulseAnimation linear infinite 2s alternate-reverse;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes pulseAnimation {
    0% {
      box-shadow: 0px 0px 3rem #c2babb;
      transform: scale(1);
    }

    100% {
      box-shadow: 0px 0px 5rem #c2babb;
      transform: scale(1.09);
    }
  }

  @keyframes pulseAnimation2 {
    0% {
      box-shadow: 0px 0px 3rem #c2babb;
      transform: rotate3d(1, 1, 1, 220deg) scale(1);
    }

    100% {
      box-shadow: 0px 0px 5rem #c2babb;
      transform: rotate3d(1, 1, 1, 220deg) scale(.95);
    }
  }




}