
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@media (min-width: 100px) {
  .aviso {
    display: none !important;
  }

  #map {
    height: 100%;
  }

  @keyframes bg-animation {

    0%,
    100% {
      filter: grayscale(70%) brightness(70%) sepia(50%) hue-rotate(-100deg) saturate(500%) contrast(1);
    }

    50% {
      filter: none;
    }
  }

  .fundo {
    opacity: 0.7;
    animation: bg-animation 10s infinite;
    background-image: url('./img/sunset2.png');
    background-size: cover;
    position: absolute;
    z-index: -2;
    width: 100vw;
    height: 100vh;
  }
  .fundo2 {
    background-image: url('./img/sun1.png');
    background-size: cover;
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
  }

  .home-desktop {

    min-height: 484px;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    margin-top: 100px;
  }

  .apresentation {
    min-height: 265px;
    margin-top: -40vh;
    height: 50vh;
    width: 50vw;
  }

  .apresentation-text {
    min-height: 477px;
    position: absolute;
    display: grid;
    justify-content: baseline;
    align-items: end;
    margin-top: -91vh;
    width: max-content;
    z-index: -1;
    position: absolute;
    font-size: 90px;
    font-family: 'Archivo Black', sans-serif;
    text-shadow: -1px -1px 8px rgb(102, 255, 0);

  }


  .description {
    height: 90vh;
    width: 60vw;
    display: flex;
    justify-content: start;
    align-items: center;

  }

  .cube_intro{
    
    
  }
  .text-who {
    height: 200px;
    margin: 0;
    
  }
  .text-am {
    height: 200px;
    margin: -50px 0 0 0;
  }
  .text-ii {
    height: 200px;
    margin: -50px 0 50px 0;
  }
  
  .images-intro {
    height: 90vh;
    width: 30vw;
    min-width: 470px;
    padding-right: 100px;
    display: flex;
    text-align: end;
    align-items: end;
    padding-top: 8vh;

    
  }
  .images-intro p{
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    font-size: 15vh;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black; 
    -webkit-text-fill-color: transparent;
    background: rgb(255,205,0);
    background: linear-gradient(60deg, rgba(255,205,0,1) 16%, rgba(255,102,0,1) 45%, rgba(255,192,0,1) 79%);
    -webkit-background-clip: text;
  }

  body {
    background-color: #000000;
    color: white;
  }

  .descriptionContent {
    white-space: pre-wrap;
    font-family: 'Archivo Black', sans-serif;
    width: 100%;
    color: #ffffff;
    
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0); 
    -webkit-text-fill-color: white;
    text-align: start;
    height: 50vh;
    letter-spacing: 1px;
    font-size: 1.7vw;
  }
  .descriptionTitle {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(0, 0, 0); 
    -webkit-text-fill-color: white;
    white-space: pre-wrap;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    font-size: 9vh;
    width: 100%;
    color: #ffffff;
    text-align: start;
    margin: 0;
  }

  .description .card-intro {
    margin-top: 70px;
    min-height: 423px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(0, 0, 0, 0.7);
    border: 2px solid rgb(255, 94, 0);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    width: 52vw;
    padding: 2vw;
    height: 80vh;
    transition: 1s ease-in-out;
    clip-path: polygon(100% 20%, 100% 80%, 80% 100%, 0 100%, 0 0, 80% 0);

    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .description .card-intro span {
    font-weight: bold;
    color: white;
    text-align: center;
    display: block;
    font-size: 1em;
  }

  .description .card-intro .info {
    font-weight: 400;
    color: white;
    display: block;
    text-align: center;
    font-size: 0.72em;
    margin: 1em;
  }

  .description .card-intro .img {
    width: 4.8em;
    height: 4.8em;
    background: white;
    border-radius: 15px;
    margin: auto;
  }

  .description .card-intro .share {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    gap: 1em;
  }

  .description .card-intro a {
    color: white;
    transition: .4s ease-in-out;
  }

  .description .card-intro a:hover {
    color: red;
  }

  .description .card-intro button {
    padding: 0.8em 1.7em;
    display: block;
    margin: auto;
    border-radius: 25px;
    border: none;
    font-weight: bold;
    background: #ffffff;
    color: rgb(0, 0, 0);
    transition: .4s ease-in-out;
  }

  .description .card-intro button:hover {
    background: red;
    color: white;
    cursor: pointer;
  }

  .loader-background {
    display: flex;
    width: 100vw;
    height: 100vh;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.8);
    z-index: 9999999999;


  }


  .loader-background p {
    font-family: "Cormorant Garamond", serif;
    font-size: 3vh;
    font-weight: 100;
    text-transform: uppercase;
    font-weight: bolder;
    color: white;
    margin-top: -20vh;

  }

  .loader {
    width: 60vw;
    height: 1.5vh;

    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
  }


  .loader::before {
    content: "";
    position: absolute;
    background-color: #0092ca;
    width: 0%;
    height: 100%;
    border-radius: 10px;
    animation: load 1.5s ease-in-out infinite;
    box-shadow: #0092ca 0px 2px 29px 0px;
  }






}
@media  (min-width: 901px) {

  .home-mobile{
    display: none;
    
  }
}
@media  (max-width: 900px) {
  .home-mobile{
    position: fixed;
    width: 100vw;
    display: grid;
    justify-content: center!important;
    align-items: center;
    text-align: center;
    
  }
  .fundo {
    
    background-position-x: -40vw;
  }
  .fundo2 {
    background-position-x: -40vw;
  }


.home-mobile .title {
  margin: 120px 0 10px 0;
  width: 100vw;
  line-height: 0;
  
}
.home-mobile .title span{
  font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    font-size: 9vh;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black; 
    -webkit-text-fill-color: transparent;
    background: rgb(255,205,0);
    background: linear-gradient(60deg, rgba(255,205,0,1) 16%, rgba(255,102,0,1) 45%, rgba(255,192,0,1) 79%);
    -webkit-background-clip: text;
}




.home-mobile .project-subtitle{
  color: white;
  margin: 0 0 0 20px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-size: 3vh;

}
.home-mobile .project-subtitle span{
  font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    font-size: 4vh;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black; 
    -webkit-text-fill-color: transparent;
    background: rgb(255, 255, 255);
    -webkit-background-clip: text;
}
.card-intro-mobile{
  margin: 5%;
  height: 60vh;
  background-color: #000000;


  background-color: rgb(0, 0, 0, 0.7);
  border: 2px solid rgb(255, 94, 0);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  padding: 2vw;
  transition: 1s ease-in-out;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card-mobile-content{
  width: 100%;
  height: 100%;
}
.desciption-title-mobile{
  -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(0, 0, 0); 
    -webkit-text-fill-color: white;
    white-space: pre-wrap;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    font-size: 5vh;
    width: 100%;
    color: #ffffff;
    text-align: start;
    margin-left: 4%;
    margin-bottom: 0;


}
.desciption-sub-mobile{
    
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    font-size: 2.5vh;
    width: 90%;
    color: #ffffff;
    text-align: start;
    margin-left: 4%;


}

  
  .images-intro {
    padding: 0!important;
    display: grid;
    height: 40vh;
    width: 100vw;
    min-width: 0!important;
    text-align: start;
    justify-content: baseline;
    align-items: start;
    margin-top: -40vh;
  
    
  }
  .description{
    display: none;
  }
  .home-desktop{
    display: none;
  }
  
  
  
  }