@media (min-width: 2px) {
    @import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
    @import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400,600|Tulpen+One&display=swap");
    @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,600;1,500;1,600&display=swap');

    .aviso {
        display: none;
    }
   .vergs-tattoo svg{

        cursor: pointer!important;
    }   


    .carousel-hermes{  
        max-width: 99vw!important;
        overflow: visible;
    }
    
    .fn_cs_slider{
        padding: 0 20px;
        overflow: hidden;
    }
    .fn_cs_slider .hidden_list{
        display: none;
    }
    .fn_cs_slider .slider_top > img{
        width: 33.3333% !important;
        min-width: 33.3333%  !important;
        opacity: 0;
    }
    .fn_cs_slider .slider_top{
        margin-top: -40px;
        margin-bottom: 0!important;
        padding: 0!important;
        position: relative;
    }
    .fn_cs_slider .slider_top ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -ms-align-items: center;
        align-items: center;
        justify-content: center;
    }
    .fn_cs_slider .slider_top li{
        width: 33.3333%;
        position: absolute;
        margin: 0;
        transform: translateX(100%) scale(0);
        transition: all 0s ease;
        opacity: 0;
        margin: 0;
    /*	visibility: hidden;*/
    }
    .fn_cs_slider .slider_top li.next2{
        left: 100%;
        transform: translateX(100%) scale(0);
        transition: all 1s ease;
    }
    .fn_cs_slider .slider_top li.prev2{
        left: 50%;
        transform: translateX(-100%) scale(0);
        transition: all 1s ease;
    }
    .fn_cs_slider .slider_top li.prev,
    .fn_cs_slider .slider_top li.next,
    .fn_cs_slider .slider_top li.active{
        transform: translateX(0) scale(1);
        opacity: 1;
        transition: all 1s ease;
    }
    .fn_cs_slider .slider_top li.prev{
        left: -40px;
    }
    .fn_cs_slider .slider_top li.next{
        left: 66.6666%;
        margin-left: 40px;
    }
    .fn_cs_slider .slider_top img{
        min-width: 100%;
        opacity: 0;
    }
    .fn_cs_slider .slider_top .item{
        perspective: 1000px;
        perspective-origin: 50% 50%;
    }
    .active{
        z-index: 999;
    }

    .carousel-vergs .fn_cs_slider .slider_top .item_in{

        background-color: rgba(172, 2, 223, 0.4);

    }
    .carousel-thiago .fn_cs_slider .slider_top .item_in{

        background-color: rgba(255, 255, 255, 0.4);

    }
    .carousel-hermes .fn_cs_slider .slider_top .item_in{

        background-color: rgba(255, 145, 0, 0.4);

    }
    @keyframes show-up {
        0% { opacity: 0; }
        100% {  opacity: 1; }
      }
    .fn_cs_slider .slider_top .item_in{
        max-width: 600px;
        max-height: 450px;
        min-width: 300px;
        min-height: 250;
        animation:  show-up 2s;

        padding: 0;
        border-radius: 10px;
        border: 1px solid rgba(255,255,255,.5);
        transition: all 1s ease;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: scaleX(0.85) scaleY(0.85) rotateY(180deg);
        margin-top: 50px;
    }
    .fn_cs_slider .metaportal_fn_videobutton{
        opacity: 0;
        visibility: hidden;
    }
    .fn_cs_slider .active .metaportal_fn_videobutton{
        opacity: 1;
        visibility: visible;
    }
    .fn_cs_slider .slider_top .img{
        position: absolute;
        top: 20px;
        left: 20px;
        right: 20px;
        bottom: 20px;
    }
    .fn_cs_slider .slider_top .img:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: all .3s ease;
    }
    .fn_cs_slider .slider_top .active .has_video .img:after{
        background-color: rgba(0,0,0,0.3);
    }
    .fn_cs_slider .slider_top .item_in:after{
        content: '';
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        color: var(--mc1);
        opacity: .15;
        border-radius: 20px;
        box-shadow: 0px 5px 20px;
    }
    .fn_cs_slider .slider_top .item_in:before{
        height: 15px;
        width: 60%;
        content: '';
        position: absolute;
        top: 100%;
        margin-top: 30px;
        background-color: #000;
        border-radius: 100%;
        left: 50%;
        transform: translateX(-50%);
        -webkit-filter: blur(15px);
        -o-filter: blur(15px);
        filter: blur(15px);
    }
    .fn_cs_slider .slider_top .active .item_in{
        transform: scaleX(1) scaleY(1) rotateY(0deg);
    }
    .fn_cs_slider .slider_top .prev2 .item_in,
    .fn_cs_slider .slider_top .prev .item_in{
        transform: scaleX(0.85) scaleY(0.85) rotateY(-30deg);
    }
    .fn_cs_slider .slider_top .next2 .item_in,
    .fn_cs_slider .slider_top .next .item_in{
        transform: scaleX(0.85) scaleY(0.85) rotateY(30deg);
    }
    .fn_cs_slider .slider_top .img{
        border-radius: 20px;
        overflow: hidden;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .fn_cs_slider .slider_top li.active{
        left: 33.3333%;
    }
    /* Since v3.0*/
    @media(max-width: 768px){
        .fn_cs_slider[data-responsive="on"] .slider_top li{
            width: 100%;
        }
        .fn_cs_slider[data-responsive="on"] .slider_top > img{
            width: 100% !important;
            min-width: 100% !important;
        }
        .fn_cs_slider[data-responsive="on"] .slider_top li.active{
            left: 0;
        }
        .fn_cs_slider[data-responsive="on"] .slider_top li.prev{
            left: -100%;
            margin-left: -100px;
        }
        .fn_cs_slider[data-responsive="on"] .slider_top li.next{
            left: 100%;
            margin-left: 100px;
        }
    }
    @media(max-width: 1400px){

        .fn_cs_slider .slider_top li.prev{left: -30px;}
        .fn_cs_slider .slider_top li.next{margin-left: 30px;}
    }
    .fn_cs_slider .slider_top li.next{margin-left: 10px;}
	.fn_cs_slider .slider_top li.prev{left: -10px;}
	.fn_cs_slider .slider_top .img{
		left: 10px;
		right: 10px;
		top: 10px;
		bottom: 10px;
	}
    .slider_nav{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -ms-align-items: center;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-right: 6vw ;
    }
    .slider_nav > *{
        margin-right: 100px;
    }
    .slider_nav > *:last-child{
        margin-right: 0;
    }
    .slider_nav:after{
        content: '';
        position: absolute;
        width: 40px;
        height: 1px;
        background-color: rgba(255,255,255,.5);
        left: 50%;
        margin-left: -20px;
        top: 50%;
        margin-top: -1px;
        margin-top: -0.5px;
    }
    .slider_nav a{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -ms-align-items: center;
        align-items: center;
        padding: 10px 0;
    }
    .slider_nav a > *{
        margin-right: 10px;
    }
    .slider_nav a > *:last-child{
        margin-right: 0;
    }
    .slider_nav .circle{
        width: 12px;
        height: 12px;
        display: block;
        border: 2px solid rgba(255,255,255,.5);
        position: relative;
        border-radius: 100%;
        background-color: rgba(255,255,255,.05);
    }
    .teste-icon{
        color: #f5f5f5;
        width: 100vw;
        height: 10vh;
        z-index: 999;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .slider_nav .icon{
        width: 50px;
        height: 50px;
        display: block;
        border: 2px solid rgba(255,255,255,.5);
        background-color: #750099;
        position: relative;
        border-radius: 100%;
    }
    .slider_nav .fn__svg{
        display: block;
        position: absolute;
        width: 12px;
        height: 12px;
        color: rgba(255,255,255,.5);
        top: 50%;
        left: 50%;
        margin: -6px 0 0 -6px;
    }
    .slider_nav .prev .fn__svg{
        transform: rotate(90deg);
        margin-left: -8px;
    }
    .slider_nav .next .fn__svg{
        transform: rotate(-90deg);
        margin-left: -5px;
    }
    .slider_nav .icon:after{
        content: '';
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        color: var(--mc1);
        opacity: .15;
        border-radius: 100%;
        box-shadow: 0px 5px 20px;
        transition: all .3s ease;
    }
    .slider_nav a:hover .icon:after{
        opacity: .5;
    }

.project-images{
    
}



    .parallax-wrap {
        z-index: 0;
        position: fixed;
        height: 100vh;
        width: 100vw;
        overflow: hidden;

        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .parallax-wrap img {
        position: absolute;
        height: 20vh;
        width: 20vh;
        border-radius: 100%;
      }
      .parallax-wrap img:nth-child(1) {
        top: 70%;
        left: 80%;
        z-index: 3;
      }
      .parallax-wrap img:nth-child(2) {
        top: 20%;
        left: 80%;
        z-index: 3;
      }
      .parallax-wrap img:nth-child(3) {
        top: 40%;
        left: 15%;
        z-index: 3;
      }
      .parallax-wrap img:nth-child(4) {
        top: 90%;
        left: 40%;
        z-index: 3;
      }
      .parallax-wrap img:nth-child(5) {
        top: 15%;
        left: 30%;
        z-index: 3;
      }
      .page-projects .title {
        margin: 10px 5vw 0 0;
        font-family: "IBM Plex Sans", sans-serif;
        font-weight: 700;
        font-size: 6.5vh;
        left: 10%;
    }
    .page-projects .project-subtitle{
        color: white;
        margin: 0px 3vw 30px 0;
        font-family: "IBM Plex Sans", sans-serif;
        font-weight: 700;
        font-size: 3vh;
        left: 10%;

    }
     .project-subtitle span {
        margin: 0;
    }
    .title span {
        top: 50%;
        transform: translateY(-50%);
    }


      .bg-projects{
        
        z-index: -1;
        background: rgb(217,61,0);
        background: rgb(217,61,0);
        background: radial-gradient(circle, rgb(68, 0, 77)0%, rgb(26, 26, 26) 60%);
        width: 100vw;
        height:100vh;
        overflow: hidden;
        position: fixed;

      }
    .page-projects {
        width: 99vw;
        padding-bottom: 10vh;
        padding-top: 70px;
        position: relative;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .carousel-hermes {
        height: 40vw;
        width: 100vw;
    }

    #c {
        width: 100vw;
        overflow: hidden;
        height: 100vh;
        position: fixed;
        z-index: -2;
    }

    .hermes-project {
        margin-right: 5vw;
        font-family: 'Archivo Black', sans-serif;
        font-size: 30px;
        background: rgb(174, 118, 34);
        background: linear-gradient(164deg, rgb(255, 153, 0) 15%, rgb(255, 64, 50) 48%, rgb(255, 153, 0) 83%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .vergs-tattoo {
        margin-right: 5vw;
        font-family: 'Archivo Black', sans-serif;
        font-size: 30px;
        background: rgb(174, 118, 34);
        background: linear-gradient(164deg, rgb(187, 187, 187) 15%, rgb(255, 255, 255) 48%, rgb(151, 151, 151) 83%);
        background-clip: text;
        -webkit-text-fill-color: transparent;


    }

    .monster {
        margin-right: 5vw;
        font-family: 'Archivo Black', sans-serif;
        font-size: 30px;
        color: white;


    }


    .button-desc {
        margin-right: 8vw;
        margin-left: 10px!important;
        border-radius: .25rem;
        text-transform: uppercase;
        font-style: normal;
        font-weight: 400;
        padding-left: 25px;
        padding-right: 25px;
        color: #fff;
        height: 40px;
        font-size: 10px;
        font-family: 'Archivo Black', sans-serif;
        line-height: 14px;
        letter-spacing: 1.2px;
        transition: .2s .1s;
        border: 0 solid;
        overflow: hidden;
    }

    .side-infos {
        background-image: linear-gradient(90deg, #302852, #6220fb);
    }

    .side-infos:hover {
        cursor: pointer;
        transition: all .3s ease-in;
        padding-right: 30px;
        padding-left: 30px;
        -webkit-box-shadow: 1px 3px 15px 0px #6220fb;
        -moz-box-shadow: 1px 3px 15px 0px #6220fb;
        box-shadow: 1px 3px 15px 0px #6220fb;

    }

    .side-production {
        background-image: linear-gradient(90deg, #945b11, #ff9900);
    }

    .side-production:hover {
        cursor: pointer;
        transition: all .3s ease-in;
        padding-right: 30px;
        padding-left: 30px;
        -webkit-box-shadow: 1px 3px 15px 0px #ff9900;
        -moz-box-shadow: 1px 3px 15px 0px #ff9900;
        box-shadow: 1px 3px 15px 0px #ff9900;

    }



    #modalProject .modal-dialog {
        max-width: 90vw !important;
        max-height: 70vh !important;

    }

    #modalProject .modal-content {
        height: 100% !important;
        background-color: rgb(0, 0, 0, 0);
        background-size: contain;
    }

    #modalProject .modal-header {
        color: #f5f5f5;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 5vw;
        font-family: 'Archivo Black', sans-serif;
        font-size: 4vh;
        margin: 0;
        background: rgb(174, 118, 34);
        background: linear-gradient(164deg, rgba(174, 118, 34, 1) 15%, rgb(255, 255, 255) 48%, rgba(174, 118, 34, 1) 83%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .project-info-modal {
        width: 90%;
        height: 80vh;
    }

    #modalProject .modal-header {

        border: none !important;
    }


    .slider-right {
        display: block;
        width: 6vw;
    }

    .slider-right div {
        display: none;
    }

    .fa-arrow-right {
        display: none;
    }

    .slider-left div {

        display: none;
    }

    .slider-left {

        display: block;
        width: 6vw;
    }


    .culpTitle {
        display: flex;
        justify-content: center;
        width: 100vw;
        color: #fff;

        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 700 !important;
        font-size: 4vh;
        letter-spacing: 1.1px;
        background: rgb(255, 255, 255);
        background: linear-gradient(121deg, rgba(255, 255, 255, 1) 0%, rgba(168, 168, 168, 1) 46%, rgba(255, 255, 255, 1) 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: -1px -1px 8px rgba(255, 255, 255, 0.3);

    }
    .information {
    
        font-size: 3.3vh;
        padding-top: 2px;
        background: rgb(252, 246, 186);
        background: linear-gradient(112.1deg, rgb(49, 91, 226) 11.4%, rgb(36, 50, 95) 70.2%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        cursor: pointer;
      }
      .information:hover {
        transform: scale(2)!important;
      }


}
@media (max-width: 900px) {
    .page-projects .project-subtitle{
        display: none!important;
    }



}

