@media (min-width: 2px) {
    @import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
    @import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400,600|Tulpen+One&display=swap");
    @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,600;1,500;1,600&display=swap');

    .aviso {
        display: none;
    }



    .project-title {
        margin: 60px 5vw 30px 0;
        font-family: "IBM Plex Sans", sans-serif;
        font-weight: 700;
        font-size: 7vh;
    }
    .project-subtitle{
        color: white;
        margin: 0px 3vw 30px 0;
        font-family: "IBM Plex Sans", sans-serif;
        font-weight: 700;
        font-size: 3vh;

    }
    .project-subtitle span {
        position: absolute;
        margin: 0;
        left: 10%;
    }
    .project-title span {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10%;
    }



    @keyframes bg-projects {
        0% {
          opacity: 0;
        }
    
        100% {
            opacity: 1;
        }
      }

    .page-projects {
        
        animation: bg-projects 2s;
        background: radial-gradient(circle at -8.9% 51.2%, rgb(141, 40, 0) 0%, rgb(59, 0, 99) 15.9%, rgb(62, 0, 104) 15.9%, rgb(40, 1, 65) 24.4%, rgb(40, 1, 65) 24.5%, rgb(0, 0, 0) 66%);
        background-position-y: -70vw;
        padding-top: 10vh;
        width: 100vw;
        overflow: hidden;
        position: relative;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .carousel-hermes {
        height: 40vw;
        width: 100vw;
    }

    #c {
        width: 100vw;
        overflow: hidden;
        height: 100vh;
        position: fixed;
        z-index: -2;
    }

    .carousel-vergs {
        margin-top: 3vw;
        height: 43vw;
        width: 100vw;
    }

    .hermes-project {
        margin-right: 5vw;
        font-family: 'Archivo Black', sans-serif;
        font-size: 30px;
        background: rgb(174, 118, 34);
        background: linear-gradient(164deg, rgb(255, 153, 0) 15%, rgb(255, 64, 50) 48%, rgb(255, 153, 0) 83%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .vergs-tattoo {
        margin-right: 5vw;
        font-family: 'Archivo Black', sans-serif;
        font-size: 30px;
        background: rgb(174, 118, 34);
        background: linear-gradient(164deg, rgb(80, 80, 80) 15%, rgb(255, 255, 255) 48%, rgb(88, 88, 88) 83%);
        background-clip: text;
        -webkit-text-fill-color: transparent;


    }

    .monster {
        margin-right: 5vw;
        font-family: 'Archivo Black', sans-serif;
        font-size: 30px;
        color: white;


    }


    .button-desc {
        margin: 10px 8vw 10px 0;
        border-radius: .25rem;
        text-transform: uppercase;
        font-style: normal;
        font-weight: 400;
        padding-left: 25px;
        padding-right: 25px;
        color: #fff;
        height: 40px;
        font-size: 10px;
        font-family: 'Archivo Black', sans-serif;
        line-height: 14px;
        letter-spacing: 1.2px;
        transition: .2s .1s;
        border: 0 solid;
        overflow: hidden;
    }

    .side-infos {
        background-image: linear-gradient(90deg, #302852, #6220fb);
    }

    .side-infos:hover {
        cursor: pointer;
        transition: all .3s ease-in;
        padding-right: 30px;
        padding-left: 30px;
        -webkit-box-shadow: 1px 3px 15px 0px #6220fb;
        -moz-box-shadow: 1px 3px 15px 0px #6220fb;
        box-shadow: 1px 3px 15px 0px #6220fb;

    }

    .side-production {
        background-image: linear-gradient(90deg, #945b11, #ff9900);
    }

    .side-production:hover {
        cursor: pointer;
        transition: all .3s ease-in;
        padding-right: 30px;
        padding-left: 30px;
        -webkit-box-shadow: 1px 3px 15px 0px #ff9900;
        -moz-box-shadow: 1px 3px 15px 0px #ff9900;
        box-shadow: 1px 3px 15px 0px #ff9900;

    }



    #modalProject .modal-dialog {
        max-width: 90vw !important;
        max-height: 70vh !important;

    }

    #modalProject .modal-content {
        height: 100% !important;
        background-color: rgb(0, 0, 0, 0);
        background-size: contain;
    }

    #modalProject .modal-header {
        color: #f5f5f5;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 5vw;
        font-family: 'Archivo Black', sans-serif;
        font-size: 4vh;
        margin: 0;
        background: rgb(174, 118, 34);
        background: linear-gradient(164deg, rgba(174, 118, 34, 1) 15%, rgb(255, 255, 255) 48%, rgba(174, 118, 34, 1) 83%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .project-info-modal {
        width: 90%;
        height: 80vh;
    }

    #modalProject .modal-header {

        border: none !important;
    }


    .slider-right {
        display: block;
        width: 6vw;
    }

    .slider-right div {
        display: none;
    }

    .fa-arrow-right {
        display: none;
    }

    .slider-left div {

        display: none;
    }

    .slider-left {

        display: block;
        width: 6vw;
    }


    .culpTitle {
        display: flex;
        justify-content: center;
        width: 100vw;
        color: #fff;

        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 700 !important;
        font-size: 4vh;
        letter-spacing: 1.1px;
        background: rgb(255, 255, 255);
        background: linear-gradient(121deg, rgba(255, 255, 255, 1) 0%, rgba(168, 168, 168, 1) 46%, rgba(255, 255, 255, 1) 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: -1px -1px 8px rgba(255, 255, 255, 0.3);

    }




}

@media (max-width: 600px)  {
    .page-projects{

        display: none;
    }

}